<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmosDB:EndpointURI" value="https://mvsample.documents.azure.com:443/"/>
    <add key="CosmosDB:Key" value="MfPbXYGCmq9OJzaPHSWLpyglMSWfqIAhydq2XQB8NxwrAFIfmzV2ctU2Q4SBRo4tqZqf5ZgPRw7Esr0RdBpFyQ=="/>
    <add key="CosmosDB:Database" value="mvsample"/>
    <add key="CosmosDB:Collection:Raw" value="raw"/>
  </appSettings>
</configuration>

