<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmosDB:EndpointURI" value="https://mvsample.documents.azure.com:443/"/>
    <add key="CosmosDB:Key" value="XGG8B0qSzXidQWT9DHOjVkjSpl8MabtRLxtS1k8i1wcnoaC0Al8gaJagPTAhfdlMDWpkW1EHBGsvwAR2XUeaIg=="/>
    <add key="CosmosDB:Database" value="mvsample"/>
    <add key="CosmosDB:Collection:Raw" value="raw"/>
  </appSettings>
</configuration>

